body {
    font-family: 'Arial', sans-serif;
    background-color: #D9A762; 
    color: #333;
    margin: 0;
}

header {
    text-align: center;
}


header {
    background-color: black;
    color: #FFF; 
    padding: 10px;
}

ul {
    
    list-style-type: 0; 
    padding: 0; 
}

ul li {
    display: inline; 
    margin-right: 20px; 
}


footer {
    text-align: center;
    margin-top: 50px;
}
